body {
	background-color: powderblue
}
body {
	 font-family: "GOTHAMBLACK", sans-serif;
	 font-size: 18}
h1 {
	font-size: 40
}
h2 {font-size: 49}
h3 {font-size: 35}
h4 {font-size: 69}
a {font-size: 30}
a {font-family: "roboto", monospace:;}
a {color: magenta}


